
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #45a049;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  

  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

.mr-2 {
    margin-right: 10px; 
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  select option {
    padding: 8px;
  }

  .checkbox-container {
    
    align-items: center;
  }
  .checkbox-label {
    margin-right: 8px;
  }
  .input-spacing {
    margin-bottom: 20px; 
  }